### Creación de base de datos y tabla conectando Python con MySQL

### Creación de base de datos

Se importa función que crea la base de datos en MySQL.

In [10]:
from common.create_database import create_database

In [11]:
create_database('productos_db')

La base de datos ha sido creada

### Creación de tablas

Se importa función que crea las tablas en la base de datos.

In [12]:
from common.create_table import create_table

Se definen las variables con su formato de la tabla a crear.

In [13]:
variables_producto = 'IdProducto VARCHAR(255) NOT NULL,Marca VARCHAR(255),Nombre VARCHAR(255),Presentacion VARCHAR(255), PRIMARY KEY(IdProducto)'

In [14]:
variables_sucursal = 'IdSucursal VARCHAR(255) NOT NULL,ComercioId VARCHAR(255),BanderaId VARCHAR(255),BanderaDescripcion VARCHAR(255),ComercioRazonSocial VARCHAR(255),Provincia VARCHAR(255),Localidad VARCHAR(255),Direccion VARCHAR(255),Lat DECIMAL(13,10),Lng DECIMAL(13,10),SucursalNombre VARCHAR(255),SucursalTipo VARCHAR(255),PRIMARY KEY(IdSucursal)'

In [15]:
variables_precio = 'IdProducto VARCHAR(255) NOT NULL,IdSucursal VARCHAR(255) NOT NULL,Precio DECIMAL(13,6),PRIMARY KEY(IdProducto,IdSucursal)'

Se crean las tablas.

La siguiente tabla va a contener la información de los productos.

In [16]:
create_table('productos_db','producto',variables_producto)

Conectado a database:  ('productos_db',)
Creando tabla....
La tabla ha sido creada

La siguiente tabla va a contener la información de las sucursales.

In [17]:
create_table('productos_db','sucursal',variables_sucursal)

Conectado a database:  ('productos_db',)
Creando tabla....
La tabla ha sido creada

La siguiente tabla va a contener los precios actualizados de los productos.

In [18]:
create_table('productos_db','precio',variables_precio)

Conectado a database:  ('productos_db',)
Creando tabla....
La tabla ha sido creada

Se crean foreign keys.

In [1]:
from common.add_foreign_key import add_fk
add_fk('IdSucursal','productos_db','precio','sucursal')

Conectado a database:  ('productos_db',)
ALTER TABLE precio ADD CONSTRAINT foreign_IdSucursal FOREIGN KEY (IdSucursal) REFERENCES sucursal(IdSucursal);

In [2]:
add_fk('IdProducto','productos_db','precio','producto')

Conectado a database:  ('productos_db',)
ALTER TABLE precio ADD CONSTRAINT foreign_IdProducto FOREIGN KEY (IdProducto) REFERENCES producto(IdProducto);